<div id="gran_texto">
	<h1>Trbajamos de la mano con los <strong>emprendedores</strong> para sacar adelante ideas innovadoras y poder contruir proyecto reales y de <strong>alto impacto</strong></h1>
</div>